<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="OFF"/>
    <logger name="c.z.hikari.util.DriverDataSource" level="OFF"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="OFF"/>
    <logger name="o.d.openNTRIP.Network.NetworkCore" level="OFF"/>
    <logger name="openNTRIP.Network.NetworkCore" level="OFF"/>
    <logger name="o.d.o.Servers.ReferenceStation" level="OFF"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>